#cards-section {
    position: relative;

    .background {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        height: 100%;
        width: 100%;
    }

    .card {
        text-align: left;
        background: #FFFFFF;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        margin: 20px;
        padding-top: 20px;

        h4, p {
            margin-left: 25px;
        }

        p {
            margin-top: 20px;
        }


        img {
            max-width: 100%;
        }
    }
}
