a {
    display: inline-block;
    @include text;
    font-size: 1em;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    }

    

.active {
    color: #D9C3A9 !important;
}