<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d7103ed-9969-45f4-a196-6709a75a0d56" Alias="Contact Page - Contact Form - Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5028730e-a94b-4b8a-b02a-ad68ff04a8e1",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "64f0414e-00ec-4c94-b8fe-3501e4ef8c32",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "e4f20673-c44f-4657-b7b0-75eb69a35c6d",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "ddfebcea-bc27-4d14-8a65-244f9f5bcc90",
      "label": "Button - {=buttonType}"
    },
    {
      "contentElementTypeKey": "9e048deb-58a5-4cc9-b3bb-f59ee0107ba6"
    }
  ]
}]]></Config>
</DataType>