<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80f969eb-768f-4799-9f31-eab29d6571c9" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a479255e-21a9-49af-8414-695d1713f7a2",
      "label": "**slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>