<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64f1db5e-6b0d-4a16-85ce-9ff5e4c964d6" Alias="InputText - Input Type" Level="1">
  <Info>
    <Name>InputText - Input Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "tel"
  ]
}]]></Config>
</DataType>