<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e890d6b-ef9e-448c-bd72-75088bb31aea" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "e0160f34-2101-4cac-874c-2e8100460d8a",
      "name": "Containers"
    },
    {
      "key": "6506ca7c-0b98-4115-8905-5ca5d0e61268",
      "name": "Custom Components"
    },
    {
      "key": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "c53301bd-c95d-45bd-8890-9cffbe564486",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "b73e44cc-144c-4f95-a1ea-da3edf0e032b",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "e0160f34-2101-4cac-874c-2e8100460d8a",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        }
      ]
    },
    {
      "contentElementTypeKey": "71e67ad8-8313-4b16-96ba-c6d692a248eb",
      "allowAtRoot": false,
      "groupKey": "e0160f34-2101-4cac-874c-2e8100460d8a",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "a9421ef1-79a0-4426-bdd9-0a542ea67b00",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        }
      ]
    },
    {
      "contentElementTypeKey": "67a24014-c20e-412e-b445-a35c7f88cf97",
      "allowAtRoot": false,
      "groupKey": "e0160f34-2101-4cac-874c-2e8100460d8a",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "a8a3c8dc-5404-4511-84e3-d4819c7341ef",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 11
        }
      ],
      "rowMinSpan": 1,
      "rowMaxSpan": 12
    },
    {
      "contentElementTypeKey": "800cd576-6267-41b4-85bb-2f519341ddb7",
      "allowAtRoot": true,
      "groupKey": "e0160f34-2101-4cac-874c-2e8100460d8a",
      "label": "Section Full Width",
      "allowInAreas": true,
      "areas": [
        {
          "key": "604b9523-082e-480b-9e21-2c80b1cba689",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ]
    },
    {
      "contentElementTypeKey": "73a91009-0ee9-4b81-a43e-0f4601d5748e",
      "allowAtRoot": false,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "allowInAreas": true,
      "label": "heading 6"
    },
    {
      "contentElementTypeKey": "0bca3cf8-cc4d-4361-999b-f62e3711b731",
      "allowAtRoot": false,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "aa996d66-b83c-4eaa-84ff-a41efcb1bf7b",
      "allowAtRoot": false,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "1536cea5-27fc-464a-a952-ced444b2e216",
      "allowAtRoot": false,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "de0d8dd9-8410-4aaa-bd7a-5ce987a9ce8c",
      "allowAtRoot": false,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0b942e6b-cbce-4d72-9e98-a22766922be6",
      "allowAtRoot": false,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "398042fb-03e7-4bfb-9d57-52f1b656ee9c",
      "allowAtRoot": false,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "c3f2101c-0e65-4aad-8fc6-49e4dc67a65e",
      "allowAtRoot": true,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "label": "rich text",
      "allowInAreas": true,
      "areas": [
        {
          "key": "157c0b6c-2fb7-4b88-8454-363b860d84b0",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3f8ee616-f872-438a-b988-7aee2f526bb9",
      "allowAtRoot": false,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "02412ee5-6ced-4760-a44e-ec459f7ff5c3",
      "allowAtRoot": true,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "label": "Image",
      "allowInAreas": true,
      "areas": [
        {
          "key": "6d8da3cd-c38e-4a61-b2a7-874a1aef3639",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "82922f51-6a06-4503-bf6b-34b462263880",
      "allowAtRoot": false,
      "groupKey": "22dead6e-a8fa-4d9d-bae4-19c889576209",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "94d2d564-2fcb-4ce4-afb1-81647849ab3d",
      "allowAtRoot": true,
      "groupKey": "e0160f34-2101-4cac-874c-2e8100460d8a",
      "allowInAreas": true,
      "areas": [
        {
          "key": "1e36fac6-5a31-494d-b424-648b886c0c37",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ]
    },
    {
      "contentElementTypeKey": "78fc1fe4-391b-4555-a8b4-924b7e3cea0c",
      "allowAtRoot": false,
      "groupKey": "e0160f34-2101-4cac-874c-2e8100460d8a",
      "areas": [
        {
          "key": "ca2a9009-ecb9-4d68-85c4-d038648cfc51",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0b8d1ea1-9ce1-4e4b-bfd0-e1d9d0403063",
      "allowAtRoot": false,
      "groupKey": "6506ca7c-0b98-4115-8905-5ca5d0e61268",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7f708b14-02c2-40ab-baf5-a3116681d601",
      "allowAtRoot": false,
      "groupKey": "6506ca7c-0b98-4115-8905-5ca5d0e61268",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "areas": [
        {
          "key": "d9b74cbb-d3dd-490f-bd16-97b2237e11b7",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>