<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9dc3cdcb-63ff-41ab-9e4d-c952b39fd148" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X (formerly Twitter)",
    "Youtube"
  ]
}]]></Config>
</DataType>