<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="584e8d81-5020-43bb-94bb-9788b5aa047f" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8a2c6d3e-22e6-492d-88ab-fb4090651e34">contactPage</Template>
      <Template Key="0f309940-4dd7-4146-b69d-4b3f733ec864">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="584e8d81-5020-43bb-94bb-9788b5aa047f" SortOrder="0">contactPage</ContentType>
    <ContentType Key="3d1a9d44-9df8-41ed-9cee-6a16dc5e95d8" SortOrder="1">modularPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ba3d7346-e030-4fda-96d5-e612aff9828a</Key>
      <Name>Contact Form</Name>
      <Alias>contactForm</Alias>
      <Definition>1d7103ed-9969-45f4-a196-6709a75a0d56</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09392283-80a7-46d3-af29-920c339db915</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>9e890d6b-ef9e-448c-bd72-75088bb31aea</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>773754b1-45e6-438a-a0dc-cf38003041ce</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7ada9da1-3d95-458c-8d08-bf43a39b4a08</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>