<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d1a9d44-9df8-41ed-9cee-6a16dc5e95d8" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>projectListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6f195fbf-cd01-48a6-b77b-89056db76f9e">projectListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3d1a9d44-9df8-41ed-9cee-6a16dc5e95d8" SortOrder="0">modularPage</ContentType>
    <ContentType Key="8d765b94-f79e-4b17-adcd-38024213eac4" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="ea146b1a-39d4-4383-a340-9cd403de7234" SortOrder="2">serviceItemTemplate</ContentType>
    <ContentType Key="60bfb235-cf17-4e09-8d8c-60ea88571db5" SortOrder="3">projectItemTemplate</ContentType>
    <ContentType Key="8a833c65-878a-41fd-a6af-fae842ddd9a1" SortOrder="4">projectListPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0685790d-5c87-4a8c-b5fa-e2debbb35e8c</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>9e890d6b-ef9e-448c-bd72-75088bb31aea</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66af2dd6-9a7b-4ff6-99f1-09c3831c07d9</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>364aa42a-58fa-4184-a6e7-6c56e824792e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9b04bfe1-1601-4f42-9a3e-b6b581d67b33</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>