<?xml version="1.0" encoding="utf-8"?>
<Content Key="893e905f-9aef-4dd4-9053-1319b04b4a0a" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="443357fd-2668-43c3-bb27-eb2abe301082">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-10T17:21:25</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="74b3bf6d-7cf3-49ea-8b4b-aa2218002179">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "93f47329-c4cb-409b-92b1-d10164b7f5d9",
    "mediaKey": "6656dec2-162a-46cf-9369-bb0ddaae45db",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>