<?xml version="1.0" encoding="utf-8"?>
<Content Key="885a8d36-512a-427d-9a03-3e7169829dbb" Alias="Business Insights for SP Group..." Level="3">
  <Info>
    <Parent Key="9d64b024-09c0-4e7e-b714-513f0dc4b200">Projects</Parent>
    <Path>/Home/Projects/BusinessInsightsForSPGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-24T12:36:06</CreateDate>
    <NodeName Default="Business Insights for SP Group..." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[May 17, 2024]]></Value>
    </date>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "ba40f5b6-3b82-4fba-b83d-f400130e1275",
    "mediaKey": "def89a16-34af-4568-8270-c274ade5d269",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>