<?xml version="1.0" encoding="utf-8"?>
<Content Key="da85dcf4-b16c-4bc0-9a78-2014f0e324b8" Alias="Financial Advisors for Irra Grou..." Level="3">
  <Info>
    <Parent Key="9d64b024-09c0-4e7e-b714-513f0dc4b200">Projects</Parent>
    <Path>/Home/Projects/FinancialAdvisorsForIrraGrou</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-24T12:36:41</CreateDate>
    <NodeName Default="Financial Advisors for Irra Grou..." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[February 6, 2024]]></Value>
    </date>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "770d95f5-7d97-4e95-8f2b-250ea23b1fd2",
    "mediaKey": "b0a04502-d3a1-4308-8a0e-e29df6daf02b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>