<?xml version="1.0" encoding="utf-8"?>
<Content Key="42896f5a-5418-4668-ba4f-8c5bd335c304" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="443357fd-2668-43c3-bb27-eb2abe301082">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-10T18:36:37</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="74b3bf6d-7cf3-49ea-8b4b-aa2218002179">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "b5a3121c-435b-4693-8ba5-ebdf45807559",
    "mediaKey": "418a019f-2035-4f43-95e3-1602615a4d87",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>