<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d64b024-09c0-4e7e-b714-513f0dc4b200" Alias="Projects" Level="2">
  <Info>
    <Parent Key="1c948980-00e5-466c-a4b0-5a9df2f2799b">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-09T11:04:24</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f195fbf-cd01-48a6-b77b-89056db76f9e">projectListPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>