<?xml version="1.0" encoding="utf-8"?>
<Content Key="443357fd-2668-43c3-bb27-eb2abe301082" Alias="Services" Level="2">
  <Info>
    <Parent Key="1c948980-00e5-466c-a4b0-5a9df2f2799b">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-10T13:40:49</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="67833c67-c56e-4c3c-8376-094a2c9030fc">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>