<?xml version="1.0" encoding="utf-8"?>
<Content Key="50cf30f6-c3ed-475d-848e-fd926dbc003a" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-03T10:30:41</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bgImage>
      <Value><![CDATA[[
  {
    "key": "e933a0f7-56b7-4e28-a661-f6b6179743cc",
    "mediaKey": "280459fd-b735-464b-99af-9da578a532ab",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImage>
    <bgImageDots>
      <Value><![CDATA[[
  {
    "key": "877b937f-7482-401e-81df-de09a87e9112",
    "mediaKey": "1acd26ac-a3e5-48ec-98a3-d5db392d07d6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bgImageDots>
    <breadcrumbBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "53205257-70b6-407c-89b6-87b69f652050",
    "mediaKey": "139c640c-93d8-4730-9426-4209f8bd0037",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbBackgroundImage>
    <informationImage>
      <Value><![CDATA[[
  {
    "key": "c95b3b96-687f-40a1-99ec-0ad16a8e9305",
    "mediaKey": "4e983484-32c6-47d4-8105-8179f2e66a91",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </informationImage>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "c9f7e996-a321-441a-8776-7f0b6f8f86cf",
    "mediaKey": "6eff516c-ac8a-430a-b396-9dcd0fedc203",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Finance Solutions For You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6221837b-d25f-47d1-a4ea-91bc9f3b3dc3",
      "udi": "umb://element/e915d2c528f74915b20ce7bc39a4fd6e",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "6221837b-d25f-47d1-a4ea-91bc9f3b3dc3",
      "udi": "umb://element/c53f53f6949c4fbe9cef99fde93e6e93",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "6221837b-d25f-47d1-a4ea-91bc9f3b3dc3",
      "udi": "umb://element/fc720006526249538bd2744361e430b6",
      "platformName": "[\u0022X (formerly Twitter)\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e915d2c528f74915b20ce7bc39a4fd6e",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/fc720006526249538bd2744361e430b6",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c53f53f6949c4fbe9cef99fde93e6e93",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>