<?xml version="1.0" encoding="utf-8"?>
<Content Key="749ca9de-2fec-4a1c-aeb3-3c3911bc0dc9" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="443357fd-2668-43c3-bb27-eb2abe301082">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItemTemplate</ContentType>
    <CreateDate>2024-09-10T18:36:56</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="74b3bf6d-7cf3-49ea-8b4b-aa2218002179">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "bd7ba591-3455-46b3-a0fd-4e5768b6ba03",
    "mediaKey": "da8dd4dd-aa1c-4b07-b09d-04f1f0c57fec",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>