#service-details {




    .container {
        display: flex;

        .content {
            border-left: 1px solid #EBEBEB;
            padding-left: 2em;
        }

        .about-us {
            margin-top:3em;

            img {
               margin-top:1em;
               margin-bottom: 1em;
            }

            p {
                margin-right:2em;
            }
        }
            
            
            
            .online-support {
            margin-top: 4em;
            margin-right: 4em;
            padding: 1em;
            width: 300px;
            height: 200px;
            border-radius: 4px;
            background-color: #4F5955;
            position: relative;
            background-image: url("/images/Icon.png");

            h4 {
                color: #F2EDDC;
            }

            p {
                color: #FFFFFF;
            }

            i {
                position: absolute;
                left: 6.5em;
                top: 4em;
                font-size: 35px;
                pointer-events: none;
                color: #555;
            }

            input {
                margin-top: 1em;
                border-radius: 5px;
                width: 100%;
                transition: 0.25s ease-in;
                padding: 1em;
                padding-left: 1em;
                border: none;



                &:focus {
                    outline: none;
                    border: 1px solid #EBEBEB;
                    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5), 0 0 10px rgba(0, 123, 255, 0.3);
                }
            }
        }
    }
}
