<?xml version="1.0" encoding="utf-8"?>
<Media Key="6656dec2-162a-46cf-9369-bb0ddaae45db" Alias="Assuranceandaudits.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Assuranceandauditspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-04T11:34:36</CreateDate>
    <NodeName Default="Assuranceandaudits.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jukbbucd/assuranceandaudits.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>