<?xml version="1.0" encoding="utf-8"?>
<Media Key="280459fd-b735-464b-99af-9da578a532ab" Alias="Bg.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T09:29:08</CreateDate>
    <NodeName Default="Bg.png" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/okjffhs2/bg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>