<?xml version="1.0" encoding="utf-8"?>
<Media Key="38e04bdc-5a3c-4cf1-a5d0-4cf071377011" Alias="BuccuraInc.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BuccuraIncpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T10:53:34</CreateDate>
    <NodeName Default="BuccuraInc.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/koalndsv/buccurainc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>