<?xml version="1.0" encoding="utf-8"?>
<Media Key="3997e859-92d8-42c0-a812-bfa45d1f259b" Alias="Dot map.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T11:59:50</CreateDate>
    <NodeName Default="Dot map.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0yrndd3r/dot-map.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>