<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8a34d34-0444-41b8-8bad-902d87c7fea8" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T11:59:32</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y1yacgs5/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>