<?xml version="1.0" encoding="utf-8"?>
<Media Key="1acd26ac-a3e5-48ec-98a3-d5db392d07d6" Alias="Dot.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dotpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T09:29:28</CreateDate>
    <NodeName Default="Dot.png" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/epwixlem/dot.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>