<?xml version="1.0" encoding="utf-8"?>
<Media Key="418a019f-2035-4f43-95e3-1602615a4d87" Alias="Financialadvisor.png (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Financialadvisorpng1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T10:51:20</CreateDate>
    <NodeName Default="Financialadvisor.png (1)" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cdfnz302/financialadvisor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>