<?xml version="1.0" encoding="utf-8"?>
<Media Key="56323b3b-52de-43e4-b2b7-2bde417a5f9e" Alias="Financialadvisor.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Financialadvisorpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T10:58:58</CreateDate>
    <NodeName Default="Financialadvisor.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wtyhjyfx/financialadvisor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>