<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5e42da1-0d63-4391-8785-245a83407375" Alias="freedom.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/freedompng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T09:02:07</CreateDate>
    <NodeName Default="freedom.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/f1tleeyk/freedom.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>