<?xml version="1.0" encoding="utf-8"?>
<Media Key="a345b619-7b5d-45c2-a239-df4fa030ad01" Alias="identity.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/identitypng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T09:02:07</CreateDate>
    <NodeName Default="identity.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sz4agfju/identity.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>