<?xml version="1.0" encoding="utf-8"?>
<Media Key="b98a86bb-8bdb-48d0-8a95-06233cebd164" Alias="image-47 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image471png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T13:50:57</CreateDate>
    <NodeName Default="image-47 1.png" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/grgmyd3s/image-47-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>