<?xml version="1.0" encoding="utf-8"?>
<Media Key="137eda40-e017-40c4-aab9-b16c063d936f" Alias="image-106 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image1061png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T13:55:09</CreateDate>
    <NodeName Default="image-106 1.png" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/z2idrjl4/image-106-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>