<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f89dc27-e6ce-46ce-a720-011decd81223" Alias="image-104 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image1041png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T13:56:03</CreateDate>
    <NodeName Default="image-104 1.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/valm4knh/image-104-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>