<?xml version="1.0" encoding="utf-8"?>
<Media Key="8375ce18-bf99-4aeb-9616-b0f6944fe176" Alias="Img-47 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img471png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T13:09:20</CreateDate>
    <NodeName Default="Img-47 1.png" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s2cdgnpq/img-47-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>