<?xml version="1.0" encoding="utf-8"?>
<Media Key="139c640c-93d8-4730-9426-4209f8bd0037" Alias="Img.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T10:16:10</CreateDate>
    <NodeName Default="Img.png" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qoxnvjnr/img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>