<?xml version="1.0" encoding="utf-8"?>
<Media Key="31cc309d-59b6-4dc7-9c76-3b680259d477" Alias="img_choose_01_home01 1.png (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011png1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T14:07:45</CreateDate>
    <NodeName Default="img_choose_01_home01 1.png (1)" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cl3ivb45/img_choose_01_home01-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>