<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa56d2fd-fbb2-4ef9-a8d6-5c12021b595a" Alias="IrraCorp.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IrraCorppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T10:51:44</CreateDate>
    <NodeName Default="IrraCorp.png" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oimbahg1/irracorp.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>