<?xml version="1.0" encoding="utf-8"?>
<Media Key="6eff516c-ac8a-430a-b396-9dcd0fedc203" Alias="Logo.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T10:29:20</CreateDate>
    <NodeName Default="Logo.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2onltwhd/logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>