<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8998e0d-5344-4f89-ae81-6a9f65268d00" Alias="Mask-Group-8 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MaskGroup81png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T14:08:58</CreateDate>
    <NodeName Default="Mask-Group-8 1.png" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qjcn4xrn/mask-group-8-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>