<?xml version="1.0" encoding="utf-8"?>
<Media Key="eef0bdfd-9319-4ef2-97fe-676f6bd0a91e" Alias="optionaldots.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/optionaldotspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T11:50:04</CreateDate>
    <NodeName Default="optionaldots.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oj1lmwdq/optionaldots.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>