<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1885349-5049-4cc6-bfec-4341a525646f" Alias="pj1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T12:52:59</CreateDate>
    <NodeName Default="pj1.png" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/y0mn23za/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>