<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0a04502-d3a1-4308-8a0e-e29df6daf02b" Alias="pj3.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-24T12:53:43</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rwhpmbwi/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>