<?xml version="1.0" encoding="utf-8"?>
<Media Key="1908ec8e-4ba1-4685-b2d3-469c1307bca9" Alias="post21.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T13:55:18</CreateDate>
    <NodeName Default="post21.png" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/aete3l4i/post21.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>