<?xml version="1.0" encoding="utf-8"?>
<Media Key="8719e270-6562-4b33-aa59-4d7d2738f390" Alias="Signature.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-04T09:03:36</CreateDate>
    <NodeName Default="Signature.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/52uf4mil/signature.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>