<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3853df4-5b84-4d74-ba60-3ff22078597a" Alias="Teammeeting.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Teammeetingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T12:13:11</CreateDate>
    <NodeName Default="Teammeeting.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pp1ngbpn/teammeeting.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>