@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var containerTitle = Model?.Content.Value<string>("cardClass") ?? "";
    var containerTitleClass = containerTitle?.ToString().ToLower().Trim().Replace(" ", "-");

}


<div class="@containerTitleClass">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>